@page
@model MascotaFeliz.App.Frontend.Pages.DeleteVeterinarioModel
@{
}
<div>@Model.mensaje</div>
<a class="btn  btn-primary table-btn" asp-page="/Veterinario/ListaVeterinario"
                    >@Model.Boton</a>