<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Logdoc.ico">
    <title>Mascota Feliz</title>
    <link href="~/Archivo/Css/Estilos.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a asp-area="" asp-page="/Index">
                    <img class="logo-img" src="~/Archivo/Imagenes/Logodef.png" alt="Imagenes Logo">
                </a>

            </div>
            <div class="menu">
                <input type="checkbox" id="check-menu">
                <label id="label-check" for="check-menu"><i class="fa-solid fa-bars icon-menu"></i></label>
                <nav>
                    <ul>
                        <li><a class="inicio" id="selected" asp-area="" asp-page="/Index">Inicio </a></li>
                        <li><a href="#">Menu</a>
                            <ul>
                                <li><a asp-area="" asp-page="/Duenos/listaDuenos"> Dueño</a></li>
                                <li><a asp-area="" asp-page="/Veterinario/listaVeterinario"> Veterinario</a></li>
                                <li><a asp-area="" asp-page="/Mascota/ListaMascota"> Mascota</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    @RenderBody()

    <div class="footer">
        <div class="social">
            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com/JuanDiegoMuOspina/G-32-E7"><i class="fab fa-github"></i></a>
        </div>
        <ul class="listfoot">
            <li><a asp-area="" asp-page="/Index">Inicio</a></li>
            <li><a asp-area="" asp-page="/Privacy">Terminos</a></li>
        </ul>
        <p class="copry">
            Sevensoft <i class="fa-sharp fa-solid fa-copyright"></i> 2022

        </p>
    </div>

</body>

</html>
