@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="p-inicio">
    <H1 class="title">Sevensoft</H1>
    <p class="p-bod">Proyecto Mascota Feliz Min tic - Ciclo 3 desarrollo de Software grupo 32
        equipo 7
    </p>
    <div class="img-p7">
        <img class="img-7" src="~/Archivo/Imagenes/Team.png" alt="Equipo-7">
    </div>
</div>
