@page
@model MascotaFeliz.App.Frontend.Pages.DeleteMascotaModel
@{
}
<div>@Model.mensaje</div>
<a class="btn  btn-primary table-btn" asp-page="/Mascota/ListaMascota"
                    >@Model.Boton</a>
