@page
@model MascotaFeliz.App.Frontend.Pages.DeleteMascotaModel
@{
}

<div class="p-inicio">
    <H1 class="title">@Model.mensaje</H1>
    <a class="btn-deldel" asp-page="/Mascota/ListaMascota">@Model.Boton</a>
</div>