@page
@model MascotaFeliz.App.Frontend.Pages.DeleteDuenoModel
@{
}
<div>@Model.mensaje</div>
<a class="btn  btn-primary table-btn" asp-page="/Duenos/ListaDuenos"
                    >@Model.Boton</a>
