@page
@model MascotaFeliz.App.Frontend.Pages.AgregarVisitaModel
@{
}
 <form class="main-form" method="post">
                <input type="text" type="hidden" asp-for="VisitaPyP.Id"  placeholder="Ingresar Id" class="main-input">
                
                <input type="text" asp-for="VisitaPyP.Temperatura"  placeholder="Ingresar Temperatura" class="main-input">
                <input type="text" asp-for="VisitaPyP.Peso"  placeholder="Ingresar Frecuencia Cardiaca" class="main-input">
                <input type="text" asp-for="VisitaPyP.FrecuenciaRespiratoria"  placeholder="Ingresar Peso" class="main-input">
                
                <input type="text" asp-for="VisitaPyP.FrecuenciaCardiaca" placeholder="Ingresar Frecuencia Respiratoria" class="main-input">
                
                <input type="text" asp-for="VisitaPyP.EstadoAnimo"  placeholder="Ingresar Estado Animo" class="main-input">


                <input type="text"  asp-for="VisitaPyP.IdVeterinario"  placeholder="Ingresar Id Veterinario" class="main-input">
                <input type="text" asp-for="VisitaPyP.Recomendaciones"  placeholder="Ingresar Recomendaciones" class="main-input">
                 <select name="historiaId">

                           
                            @foreach (var historia in Model.listaHistoria)
                            {
                                <option name="historiaId" value="@historia.Id">@historia.Id</option>

                            }

                        </select>

                <button type="submit" class="btn  btn-primary table-btn" >Enviar formulario</button>
            </form>
 